</div>         
</div>
<div class="col-sm-4" ng-app="app">
    <div class="grey">
        <h1>Navigation</h1>
        <p>
            Welcome to <b>Breddit</b>. A place for discussions on literally every single topic ever.
        </p>
    </div>
    <div ng-controller="login" class="grey">
    <div class="sample-show-hide" ng-hide="toggle">
      <h1>\{{helloMessage}}</h1>
      <form ng-submit="" role="form" class="form">
        <label for="name">What's your name?</label>
        <input type="text" name="user" ng-model="name" required>
        <label for="email">Hi \{{ name }}! What's your email address?</label> 
        <input type="email" name="email" ng-model="email" required>
        <button type="submit" ng-model="subButton">Submit</button>
      </form>
      <p>
        Have an account already? Click <a href="" ng-click="toggleFilter()">here</a> to login
      </p>
    </div>
    <div ng-show="toggle">
      <h1>Login</h1>
      <form ng-submit="" role="form" class="form">
        <label for="email">Email:</label>
        <input type="email" name="email" ng-model="emailLog" required>
        <label for="email">Password:</label>
        <input type="password" name="password" ng-model="passLog" required>
        <button type="submit" ng-model="subButton">Submit</button>
      </form>
      <p>
        Don't have an account? Click <a href="" ng-click="toggleFilter()">here</a> to sign up
      </p>
    </div>
    </div>
</div>
</div>