{{>header}}
{{{contents}}}
{{>navigation}}
<div class="row">
    <div class="col-sm-4">
        <div class="grey">
            This is a column
        </div>
    </div>
    <div class="col-sm-4">
        <div class="grey">
            This is a column poop
        </div>
    </div>
    <div class="col-sm-4">
        <div class="grey">
            This is a column
        </div>
    </div>
</div>
</div>
  <script src="js/app.js"></script>
</body>

</html>
